.home-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 13px;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .home-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100% - 9%);
    overflow: auto;
    padding-bottom: 10px;
    .body-container {
      display: flex;
      flex-direction: column;
      .body-main {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 5px;
        margin-top: 260px;
        .message {
          font-weight: bold;
        }
        .extension-list {
          display: grid;
          grid-template-columns: repeat(3, 1fr); /* 3 cột đều nhau */
          gap: 10px; /* Khoảng cách giữa các item */
          padding: 10px; /* Padding cho container */
          .items {
            display: flex;
            flex-direction: column;
            gap: 3px;
            align-items: center;
            width: 100px;
            .logo {
              width: 50px;
              height: 50px;
              border-radius: 10px;
              background-color: #fff;
            }
          }
        }
        .message-container {
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: #fff;
          overflow: hidden;
          box-shadow: 1px 1px 3px #0003;
          border-radius: 10px;
          animation: fadeIn 0.5s ease-in-out;
          &.single {
            width: 80%;
          }
          .options2 {
            position: absolute;
            top: 0px;
            right: 3px;
            padding: 5px;
            color: #5c96ddc9;
            display: flex;
            align-items: center;
            gap: 5px;
            .text {
              margin-top: 2px;
              font-weight: 500;
              font-size: 0.7rem;
              transition: opacity 0.3s ease-in-out;
              &.fade-out {
                opacity: 0;
              }
            }
          }
          .logos {
            width: -webkit-fill-available;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 50px;
            }
          }
          .salary {
            font-weight: 500;
            text-align: center;
            padding: 8px;
            font-size: 1rem;
            color: #34b764;
          }
          .message {
            display: flex;
            padding: 10px;
            flex-direction: column;
            font-weight: normal;
            .card {
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              flex: 1;
              gap: 0px;
              padding: 5px;
              border-radius: 10px;
              color: #033e8c;
              .salary2 {
                text-align: center;
              }
            }
            .name {
              text-align: center;
              color: #033e8c;
            }
            .money {
              display: flex;
              justify-content: center;
              color: #3272c0;
              font-size: 15px;
              font-weight: 500;
            }
            .content {
              margin-top: 10px;
              color: #033e8c;
              display: flex;
              justify-content: center;
            }
          }
          .options {
            display: flex;
            .items {
              border-top: 1px solid #00000015;
              flex: 1;
              display: flex;
              gap: 10px;
              padding: 10px;
              align-items: center;
              justify-content: center;
              flex-wrap: nowrap;
              border-left: 1px solid #00000015;
              color: #0005;
              svg {
                color: rgba(156, 156, 156, 0.333);
              }
              &.nope {
                color: #58a7af;
                svg {
                  color: #58a7af;
                }
              }
              &.off {
                color: #e0806f;
                svg {
                  color: #e0806f;
                }
              }
              &.active {
                color: #4d9aff;
                svg {
                  color: #4d9aff;
                }
              }
              &:first-child {
                border-left: hidden;
              }
            }
          }
        }
        .h3 {
          font-weight: 600;
          padding: 0px 10px;
        }
        .h-items {
          .fast-check {
            display: flex;
            padding: 0px 10px;
            justify-content: space-between;
            .work-option {
              display: flex;
              gap: 10px;
              div {
                border-radius: 10px;
                cursor: pointer;
                &.work-check {
                  display: flex;
                  font-weight: 500;
                  background-color: #fff;
                  color: #52a0ff;
                  align-items: center;
                  overflow: hidden;
                  box-shadow: 1px 1px 3px #0003;
                  .logo {
                    color: #ffffff;
                    border-right: 1px solid #52a0ff;
                    padding: 12px 12px;
                    background-color: #52a0ff;
                    font-size: 1.3rem;
                    display: flex;
                  }
                  .text {
                    padding: 0px 8px;
                  }
                }
                &.work-pass {
                  padding: 8px;
                  color: #0006;
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
        }
      }
      .top-container {
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: 10px;
        top: 0;
        z-index: 1;
        padding-top: 50px;
        width: 100%;
        height: 180px;
        position: fixed;
        background-attachment: fixed;
        transition: all 0.2s;
        .app-container {
          display: flex;
          height: 50px;
        }
        .user-container {
          display: flex;
          justify-content: space-between;
          .logo {
            margin-top: 15px;
            width: 130px;
            padding-right: 10px;
            opacity: 0.4;
            img {
              width: 100%;
            }
          }
          .user-level {
            display: flex;
            gap: 3px;
            padding: 0px 10px;
            .items {
              border-radius: 5px;
              font-size: 0.7rem;
              padding: 2px 5px;
              background-color: #fff;
              color: #007bff;
              box-shadow: 1px 1px 2px #0003;
            }
          }
          .user-header {
            display: flex;
            align-items: center;
            padding: 0px 10px;
            color: #fff;
            gap: 10px;
            .user-infor {
              display: flex;
              flex-direction: column;
              gap: 3px;
              .user-name {
                font-size: 1.1rem;
                font-weight: 500;
              }
              .user-text {
                color: #fff9;
                font-size: 0.8rem;
                white-space: nowrap;
                overflow: hidden;
              }
            }
            .avatar {
              width: 50px;
              height: 50px;
              border: 2px solid #fff;
              background-color: #000;
              border-radius: 15px;
              box-shadow: 1px 1px 5px #0006;
              overflow: hidden;
              img {
                width: 100%;
              }
            }
          }
        }
        .listCard {
          display: flex;
          box-sizing: border-box; // Đảm bảo padding được tính vào kích thước tổng thể
          white-space: nowrap;
          padding: 5px 10px; // Padding phía trên/dưới 5px, trái/phải 10px
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          gap: 10px;
          transition: all 0.3s;
          .MoneyCard {
            display: flex;
            flex-direction: column;
            min-width: 220px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 1px 5px #0000004a;
            scroll-snap-align: center;
            overflow: hidden;
            gap: 3px;
            height: 92px;
            .company {
              font-weight: 500;
              font-size: 0.8rem;
              color: #002b64;
              display: flex;
              flex: 1;
              padding: 0px 10px;
              align-items: center;
            }
            .money {
              display: flex;
              flex: 1;
              padding: 0px 10px;
              align-items: center;
              justify-content: space-between;

              .amount {
                color: #053677;
                font-size: 1rem;
                font-weight: 600;
              }

              .view {
                color: #6195c5;
              }
            }

            a.caidat {
              display: flex;
              flex: 1;
              padding: 0px 10px;
              gap: 5px;
              font-weight: 500;
              font-size: 0.8rem;
              color: #0b6ed7;

              svg {
                font-size: 0.8rem;
              }
            }
          }
        }
        &.active {
          .listCard {
            height: 0px;
            overflow: hidden;
            padding: 0px 10px;
          }
        }
      }
    }
  }
  svg {
    font-size: 15px;
  }
  .home-menu {
    display: flex;
    height: 9%;
    justify-content: space-evenly;
    background-color: #fff;
    a {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;
      color: #dae1e9;
      .txt {
        display: flex;
        align-items: center;
        height: 0px;
        overflow: hidden;
        transition: all 0.2s;
        font-weight: 500;
      }
      .icon {
        svg {
          font-size: 16px;
          transition: all 0.2s;
        }
      }
      &.active {
        color: #60a5ff;
        .txt {
          height: 20px;
        }
        .icon {
          svg {
            font-size: 17px;
          }
        }
      }
    }
  }

  .lich-bangcong {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    box-shadow: 1px 1px 3px #0003;
    .popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
    }
    .popup-content {
      background: #fff;
      border-radius: 8px;
      position: relative;
      max-width: 500px;
      width: 90%;
      animation: slideIn 0.3s ease-out;
      .title {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        box-shadow: 1px 1px 2px #0003;
        .text {
          display: flex;
        }
        .close {
          display: flex;
          align-items: center;
          margin-left: auto;
          cursor: pointer;
          font-size: 24px;
          color: #a3a3a3;
        }
      }
      .details {
        padding: 10px 20px 20px 20px;
        table {
          tr {
            td {
              border: hidden;
              text-align: left;
              &:first-child {
                white-space: nowrap;
                font-weight: 600;
                padding-right: 15px;
              }
            }
          }
        }
      }
    }
    .bangcong-thang {
      display: flex;
      font-size: 0.75rem;
      justify-content: center;
      height: 25px;
      .pre,
      .next {
        display: flex;
        justify-content: center;
      }
      select {
        border: hidden;
        outline: none;
        font-size: 1rem;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-weight: 600;
        padding: 0px 2px;
        background-color: transparent;
      }
      button {
        outline: none;
        width: 50px;
        border: hidden;
        border-radius: 5px;
        svg {
          color: #0004;
          font-size: 0.8rem;
        }
      }
    }
    table {
      border-collapse: separate;
      border-spacing: 3px;
      th {
        font-size: 0.7rem;
        font-weight: 600;
        padding: 5px 0px;
        width: 50px;
      }
      tr {
        td {
          user-select: none;
          border-bottom: hidden;
          border-left: hidden;
          text-align: center;
          height: 45px;
          position: relative;
          border-radius: 10px;
          color: #b3b3b3;
          &.active {
            background-color: #e9f3fd;
            color: #1181d3;
            font-weight: 500;
            svg {
              font-size: 0.7rem;
              position: absolute;
              right: 4px;
              top: 4px;
              color: #0479ff;
            }
          }
          &.notactive {
            background-color: #fdf4e9;
            color: #d34e11;
            svg {
              font-size: 0.7rem;
              position: absolute;
              right: 4px;
              top: 4px;
              color: #e0806f;
            }
          }
        }
      }
    }
  }
}
.f1 {
  display: flex;
  flex: 1;
}
.full-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  &.normal {
    background-color: #f1f1f1;
  }
  .top-bar {
    display: flex;
    height: 31px;
    background-color: #0061c9;
  }
  .bot-bar {
    display: flex;
    height: 31px;
  }
  .body-main {
    padding: 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      img {
        width: 100%;
      }
    }
    .message {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #6b798b;
      background-color: #fff;
      box-shadow: 1px 2px 3px #0002;
      padding: 20px 20px 20px 40px;
      width: 90%;
      border-radius: 10px;
      font-size: 0.85rem;
      ul {
        list-style-type: circle;
        gap: 5px;
        display: flex;
        flex-direction: column;
      }
    }
    .tools {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      button.accept {
        font-weight: 500;
        width: 90%;
        font-size: 0.9rem;
        background-color: #007bff;
        color: #fff;
        padding: 13px 20px;
        border-radius: 10px;
      }
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.fc {
  display: flex;
  flex-direction: column;
}
.g10 {
  gap: 10px;
}
.g5 {
  gap: 5px;
}
.pd0x10 {
  padding: 0px 10px;
}
.top10 {
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 0px;
}
/* styles.css hoặc file tương tự */
@keyframes flyUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fly-up {
  animation: flyUp 0.3s ease-out;
}

/* Hiệu ứng xuất hiện */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hiệu ứng biến mất */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.loader {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 5px;
  overflow: hidden;
}

.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation_2 1.2s linear infinite;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  .flex {
    display: flex;
    width: -webkit-fill-available;
    gap: 10px;
  }
  .line {
    top: 11px;
    height: 40px;
    width: 40px;
    background-color: #eeeeee;
    border-radius: 10px;
    width: -webkit-fill-available;
  }
}

.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loader .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loader .loader .line-2 {
  top: 34px;
  height: 20px;
  width: -webkit-fill-available;
}

.loader .line-3 {
  top: 57px;
  left: 0px;
  height: 20px;
  width: -webkit-fill-available;
}

.loader .line-4 {
  top: 80px;
  left: 0px;
  width: 92%;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.5s ease; /* Thêm transition để tạo hiệu ứng fade out */
  .body-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    .logo {
      width: 80px;
      opacity: 0.5;
      animation: fadeOpacity 1s infinite;
    }
    .message {
      font-weight: bold;
      color: #b3c2d3;
    }
  }
}
.loading-screen.fade-out {
  opacity: 0; /* Khi thêm lớp fade-out, opacity sẽ giảm xuống 0 để tạo hiệu ứng mờ dần */
}
@keyframes fadeOpacity {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.4;
  }
}
.jelly-triangle {
  --uib-size: 2.8rem;
  --uib-speed: 1.75s;
  --uib-color: #579eff;
  position: relative;
  height: var(--uib-size);
  width: var(--uib-size);
  filter: url("#uib-jelly-triangle-ooze");
}

.jelly-triangle__dot,
.jelly-triangle::before,
.jelly-triangle::after {
  content: "";
  position: absolute;
  width: 33%;
  height: 33%;
  background: var(--uib-color);
  border-radius: 100%;
  box-shadow: 0 0 20px rgba(0, 33, 90, 0.384);
}

.jelly-triangle__dot {
  top: 6%;
  left: 30%;
  animation: grow7132 var(--uib-speed) ease infinite;
}

.jelly-triangle::before {
  bottom: 6%;
  right: 0;
  animation: grow7132 var(--uib-speed) ease calc(var(--uib-speed) * -0.666)
    infinite;
}

.jelly-triangle::after {
  bottom: 6%;
  left: 0;
  animation: grow7132 var(--uib-speed) ease calc(var(--uib-speed) * -0.333)
    infinite;
}

.jelly-triangle__traveler {
  position: absolute;
  top: 6%;
  left: 30%;
  width: 33%;
  height: 33%;
  background: var(--uib-color);
  border-radius: 100%;
  animation: triangulate6214 var(--uib-speed) ease infinite;
}
.bg-page {
  z-index: 1000;
  background-color: #0003;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
  .detectOut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .pd10{
    padding: 10px;
  }
  .show-card {
    width: 85%;
    display: flex;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    transform: translateY(20px);
    animation: slideUp 0.5s ease-in-out forwards;
    overflow: hidden;
    /* Áp dụng animation cho .step-box */
    .form-table{
      padding: 5px 10px;
      table{
        width: 100%;
        tr{
          td{
            position: relative;
            &:first-child{
              text-align: left;
              padding: 0px 5px;
            }
            &:last-child{
              text-align: right;
            }
            input,select{
              border: 1px solid #e0e0e0;
              padding: 5px;
              border-radius: 5px;
              outline: none;
            }
            .sub-input{
              position: absolute;
              right: 10px;
              top: 10px;
            }
          }
        }
      }
    }
    &.mini{
      padding: 0px;
    }
    .step-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      animation: slideInFromLeft 0.3s ease-out;
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 5px 10px;
      img {
        width: 60px;
      }
    }
    .title {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 1rem;
      color: #0394f5;
    }
    .title2 {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 1rem;
      padding: 10px 10px 0px 10px;
      color: #0394f5;
    }
    .off{
      .title2 {
        color: #f57503;
      }
    }
    .message {
      white-space: wrap;
      display: flex;
      color: #000;
      font-size: 0.85rem;
      padding: 5px;
      color: #999;
    }
    .message2 {
      white-space: wrap;
      display: flex;
      color: #000;
      padding: 20px 10px;
      color: #999;
    }
    .step-buttons {
      display: flex;
    }
    button.scanQR {
      color: #0274f7;
      border: none;
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 5px;
      border: 1px solid #7ab4ff;
      padding: 2px 10px 2px 2px;
      img {
        width: 30px;
      }
    }
    button.prev {
      color: #c5c5c5;
      border: none;
      padding: 7px 15px;
      border-radius: 5px;
    }
    button.next {
      background-color: #0394f5;
      color: #fff;
      border: none;
      padding: 7px 15px;
      border-radius: 5px;
      margin-left: auto;
    }
    button.save {
      background-color: #0394f5;
      color: #fff;
      border: none;
      padding: 7px 15px;
      border-radius: 5px;
      margin-left: auto;
    }
    .options {
      display: flex;
      .items {
        border-top: 1px solid #00000015;
        flex: 1;
        display: flex;
        gap: 10px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        border-left: 1px solid #00000015;
        color: #0005;
        .logo{
          padding: 0px;
        }
        .text{
          display: flex;
          gap: 10px;
          align-items: center;
        }
        svg {
          color: rgba(156, 156, 156, 0.333);
        }
        &.off {
          color: #e0806f;
          svg {
            color: #e0806f;
          }
        }
        &.nope {
          color: #58a7af;
          svg {
            color: #58a7af;
          }
        }
        &.active {
          color: #4d9aff;
          svg {
            color: #4d9aff;
          }
        }
        &:first-child {
          border-left: hidden;
        }
      }
    }
  }
}
.pd5 {
  padding: 5px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  .h-name {
    color: #474a63;
    font-weight: 500;
  }
  .h-input {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #999;
    input,select {
      border: 1px solid #dadada;
      border-radius: 8px;
      overflow: hidden !important;
      padding: 8px;
      width: -webkit-fill-available;
      outline: none;
      color: #000;
      &.mini {
        width: 80px;
      }
      &.mini2 {
        width: 40px;
      }
    }
    .sub-input {
      position: absolute;
      right: 6px;
      color: #0005;
    }
  }
  .items-flex {
    display: flex;
    align-items: center;
    gap: 5px;
    .h-name {
      width: 40%;
    }
    .h-input {
      input {
        padding: 5px;
      }
    }
  }
}
.summary {
  table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
    color: #999;
    tr {
      td {
        padding: 5px 10px;
        border: 1px solid #dfdfdf;
        border-top: hidden;
        &:last-child {
          color: #1d1f24;
          font-weight: 500;
          border-left: hidden;
          width: 50%;
          text-align: right;
        }
      }
      &:first-child {
        td {
          border-top: 1px solid #dfdfdf;
          &:first-child {
            border-top-left-radius: 10px;
          }
          &:last-child {
            border-top-right-radius: 10px;
          }
        }
      }
      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 10px;
          }
          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
}
.ninebox {
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h5 {
  font-weight: 500;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  color: #386193;
}
.jelly-maker {
  width: 0;
  height: 0;
  position: absolute;
}
.acenter {
  align-items: center;
  justify-content: center;
}
@keyframes triangulate6214 {
  0%,
  100% {
    transform: none;
  }

  33.333% {
    transform: translate(120%, 175%);
  }

  66.666% {
    transform: translate(-95%, 175%);
  }
}

@keyframes grow7132 {
  0%,
  100% {
    transform: scale(1.5);
  }

  20%,
  70% {
    transform: none;
  }
}
.leap-frog {
  --uib-size: 40px;
  --uib-speed: 2s;
  --uib-color: #0002;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-size);
}

.leap-frog__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.leap-frog__dot::before {
  content: "";
  display: block;
  height: calc(var(--uib-size) * 0.22);
  width: calc(var(--uib-size) * 0.22);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.leap-frog__dot:nth-child(1) {
  animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
  transform: translateX(calc(var(--uib-size) * 0.4));
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5)
    infinite;
}

.leap-frog__dot:nth-child(3) {
  transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3) infinite;
}

@keyframes leapFrog {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  33.333% {
    transform: translateX(0) rotate(180deg);
  }

  66.666% {
    transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(5px);
    opacity: 0;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp2 {
  from {
    transform: translateY(5px);
    opacity: 0.3;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(5px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
b1 {
  font-weight: 500;
}
l {
  color: #0394f5;
}
/* Popup.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.342);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  .detectOut {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .popup-content {
    z-index: 10;
    background: white;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
    animation: slideUp2 0.3s ease-in-out forwards;
    &.fadeOut {
      animation: slideDown 0.3s ease-in-out forwards;
    }
    .title {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-weight: 500;
      font-size: 17px;
    }
    .logo {
      svg {
        font-size: 40px;
        padding: 30px 0px 10px 0px;
      }
    }
    .popup-close {
      font-size: 25px;
      color: rgba(0, 0, 0, 0.4);
      margin-left: auto;
      position: fixed;
      right: 8px;
      top: 5px;
    }
    .message {
      padding: 0px 10px 20px 10px;
    }
    &.success {
      .title {
        color: #22a5f1;
      }
      .message {
        color: #1c3c4e;
      }
      .logo {
        svg {
          color: #009efa;
        }
      }
    }
    &.error {
      .title {
        color: #e95d2a;
      }
      .message {
        color: #e07c6a;
      }
      .logo {
        svg {
          color: #ef8a65;
        }
      }
    }
  }
}
.right {
  display: flex;
  margin-left: auto;
}
button {
  display: flex;
  gap: 7px;
  align-items: center;
  svg {
    font-size: 0.7rem !important;
    margin-left: -3px;
  }
}
/* Loading spinner */
.loading-spinner {
  width: 24px;
  height: 24px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #009fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: 8px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
