.home-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 13px;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .home-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100% - 9%);
    overflow: auto;
    padding-bottom: 10px;
    .body-container {
      display: flex;
      flex-direction: column;
      .body-main {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 5px;
        margin-top: 260px;
        .extension-list {
          display: grid;
          grid-template-columns: repeat(3, 1fr); /* 3 cột đều nhau */
          gap: 10px; /* Khoảng cách giữa các item */
          padding: 10px; /* Padding cho container */
          .items {
            display: flex;
            flex-direction: column;
            gap: 3px;
            align-items: center;
            width: 100px;
            .logo {
              width: 50px;
              height: 50px;
              border-radius: 10px;
              background-color: #fff;
            }
          }
        }
        .message-container {
          display: flex;
          flex-direction: column;
          font-weight: 500;
          background-color: #fff;
          overflow: hidden;
          box-shadow: 1px 1px 3px #0003;
          border-radius: 10px;
          .message {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 10px;
          }
          .options {
            display: flex;
            .items {
              border-top: 1px solid #00000015;
              flex: 1;
              display: flex;
              gap: 10px;
              padding: 10px;
              align-items: center;
              justify-content: center;
              flex-wrap: nowrap;
              border-left: 1px solid #00000015;
              color: #0005;
              svg {
                color: rgba(156, 156, 156, 0.333);
              }
              &.active {
                color: #4d9aff;
                svg {
                  color: #4d9aff;
                }
              }
              &:first-child {
                border-left: hidden;
              }
            }
          }
        }
        .h3 {
          font-weight: 600;
          padding: 0px 10px;
        }
        .h-items {
          .fast-check {
            display: flex;
            padding: 0px 10px;
            justify-content: space-between;
            .work-option {
              display: flex;
              gap: 10px;
              div {
                border-radius: 10px;
                cursor: pointer;
                &.work-check {
                  display: flex;
                  font-weight: 500;
                  background-color: #fff;
                  color: #52a0ff;
                  align-items: center;
                  overflow: hidden;
                  box-shadow: 1px 1px 3px #0003;
                  .logo {
                    color: #ffffff;
                    border-right: 1px solid #52a0ff;
                    padding: 12px 12px;
                    background-color: #52a0ff;
                    font-size: 1.3rem;
                    display: flex;
                  }
                  .text {
                    padding: 0px 8px;
                  }
                }
                &.work-pass {
                  padding: 8px;
                  color: #0006;
                  display: flex;
                  align-items: center;
                }
              }
            }
          }
        }
      }
      .top-container {
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: 10px;
        top: 0;
        z-index: 1;
        padding-top: 50px;
        width: 100%;
        height: 180px;
        position: fixed;
        background-attachment: fixed;
        transition: all 0.2s;
        .app-container {
          display: flex;
          height: 50px;
        }
        .user-container {
          display: flex;
          justify-content: space-between;
          .logo {
            margin-top: 15px;
            width: 130px;
            padding-right: 10px;
            opacity: 0.4;
            img {
              width: 100%;
            }
          }
          .user-level {
            display: flex;
            gap: 3px;
            padding: 0px 10px;
            .items {
              border-radius: 5px;
              font-size: 0.7rem;
              padding: 2px 5px;
              background-color: #fff;
              color: #007bff;
              box-shadow: 1px 1px 2px #0003;
            }
          }
          .user-header {
            display: flex;
            align-items: center;
            padding: 0px 10px;
            color: #fff;
            gap: 10px;
            .user-infor {
              display: flex;
              flex-direction: column;
              gap: 3px;
              .user-name {
                font-size: 1.1rem;
                font-weight: 500;
              }
              .user-text {
                color: #fff9;
                font-size: 0.8rem;
              }
            }
            .avatar {
              width: 50px;
              height: 50px;
              border: 2px solid #fff;
              background-color: #000;
              border-radius: 15px;
              box-shadow: 1px 1px 5px #0006;
              overflow: hidden;
              img {
                width: 100%;
              }
            }
          }
        }
        .listCard {
          display: flex;
          box-sizing: border-box; // Đảm bảo padding được tính vào kích thước tổng thể
          white-space: nowrap;
          padding: 5px 10px; // Padding phía trên/dưới 5px, trái/phải 10px
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          transition: all 0.3s;
          .MoneyCard {
            display: flex;
            flex-direction: column;
            min-width: 220px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 1px 5px #0000004a;
            scroll-snap-align: center;
            overflow: hidden;
            gap: 3px;
            height: 92px;
            &:last-child {
              margin-left: 10px;
              scroll-snap-align: center;
            }
            .company {
              font-weight: 400;
              font-size: 0.8rem;
              color: #071a33;
              display: flex;
              flex: 1;
              padding: 0px 10px;
              align-items: center;
            }
            .money {
              display: flex;
              flex: 1;
              padding: 0px 10px;
              align-items: center;
              justify-content: space-between;

              .amount {
                color: #053677;
                font-size: 1rem;
                font-weight: 600;
              }

              .view {
                color: #6195c5;
              }
            }

            a.caidat {
              display: flex;
              flex: 1;
              padding: 0px 10px;
              gap: 5px;
              font-weight: 500;
              font-size: 0.8rem;
              color: #0b6ed7;

              svg {
                font-size: 0.8rem;
              }
            }
          }
        }
        &.active {
          .listCard {
            height: 0px;
            overflow: hidden;
            padding: 0px 10px;
          }
        }
      }
    }
  }
  svg {
    font-size: 15px;
  }
  .home-menu {
    display: flex;
    height: 9%;
    justify-content: space-evenly;
    background-color: #fff;
    a {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;
      color: #dae1e9;
      .txt {
        display: flex;
        align-items: center;
        height: 0px;
        overflow: hidden;
        transition: all 0.2s;
        font-weight: 500;
      }
      .icon {
        svg {
          font-size: 16px;
          transition: all 0.2s;
        }
      }
      &.active {
        color: #60a5ff;
        .txt {
          height: 20px;
        }
        .icon {
          svg {
            font-size: 17px;
          }
        }
      }
    }
  }

  .lich-bangcong {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    box-shadow: 1px 1px 3px #0003;
    .popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
    }
    .popup-content {
      background: #fff;
      border-radius: 8px;
      position: relative;
      max-width: 500px;
      width: 90%;
      animation: slideIn 0.3s ease-out;
      .title {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        box-shadow: 1px 1px 2px #0003;
        .text {
          display: flex;
        }
        .close {
          display: flex;
          align-items: center;
          margin-left: auto;
          cursor: pointer;
          font-size: 24px;
          color: #a3a3a3;
        }
      }
      .details {
        padding: 10px 20px 20px 20px;
        table {
          tr {
            td {
              border: hidden;
              text-align: left;
              &:first-child {
                white-space: nowrap;
                font-weight: 600;
                padding-right: 15px;
              }
            }
          }
        }
      }
    }
    .bangcong-thang {
      display: flex;
      font-size: 0.75rem;
      justify-content: center;
      height: 25px;
      select {
        border: hidden;
        outline: none;
        font-size: 1rem;
        text-align: center;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-weight: 600;
        padding: 0px 2px;
        background-color: transparent;
      }
      button {
        outline: none;
        width: 50px;
        border: hidden;
        border-radius: 5px;
        svg {
          color: #0004;
          font-size: 0.8rem;
        }
      }
    }
    table {
      border-collapse: separate;
      border-spacing: 3px;
      th {
        font-size: 0.7rem;
        font-weight: 600;
        padding: 5px 0px;
        width: 50px;
      }
      tr {
        td {
          user-select: none;
          border-bottom: hidden;
          border-left: hidden;
          text-align: center;
          height: 45px;
          position: relative;
          border-radius: 10px;
          color: #b3b3b3;
          &.active {
            background-color: #e9f3fd;
            color: #1181d3;
            font-weight: 500;
          }
          svg {
            font-size: 0.7rem;
            position: absolute;
            right: 4px;
            top: 4px;
            color: #0479ff;
          }
        }
      }
    }
  }
}
.full-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  .top-bar {
    display: flex;
    height: 30px;
    background-color: #5496fa;
  }
  .body-main {
    padding: 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      img {
        width: 80%;
      }
    }
    .message {
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .tools {
      display: flex;
      align-items: center;
      justify-content: center;
      button.accept {
        font-weight: 500;
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 10px;
      }
    }
  }
}
/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.fc {
  display: flex;
  flex-direction: column;
}
.g10 {
  gap: 10px;
}
.g5 {
  gap: 5px;
}
.pd0x10 {
  padding: 0px 10px;
}
.top10 {
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 0px;
}
/* styles.css hoặc file tương tự */
@keyframes flyUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fly-up {
  animation: flyUp 0.3s ease-out;
}

/* Hiệu ứng xuất hiện */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hiệu ứng biến mất */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.loader {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 5px;
  overflow: hidden;
}

.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation_2 1.2s linear infinite;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  .flex {
    display: flex;
    width: -webkit-fill-available;
    gap: 10px;
  }
  .line {
    top: 11px;
    height: 40px;
    width: 40px;
    background-color: #eeeeee;
    border-radius: 10px;
    width: -webkit-fill-available;
  }
}

.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loader .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loader .loader .line-2 {
  top: 34px;
  height: 20px;
  width: -webkit-fill-available;
}

.loader .line-3 {
  top: 57px;
  left: 0px;
  height: 20px;
  width: -webkit-fill-available;
}

.loader .line-4 {
  top: 80px;
  left: 0px;
  width: 92%;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
